
#menu-hero {
  background: url("../images/island-breeze-courtyard-mariot-kona.jpg");
  background-size: cover;
  background-position: center;
}
#luau-menu ul {
  column-count: 2;
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
#luau-menu img {
  width: 100%;
}
#luau-menu li {
  font-size: 1em;
  font-family: "Montserrat";
  font-weight: bold;
  line-height: 2em;
  text-align: center;
  color: #252128;
}
@media(max-width:500px){
  #luau-menu ul{
    column-count: 1;
  }
}
#luau-menu .fifth-content-row {
	padding: 2em;
}